<div li-block="Block" role="listitem" class="more_item w-dyn-item">
                    
                    
                    <a href="{{ block.settings.url_link }}" class="more_image-link w-inline-block"> <div class="more_image-wrapper"> <h3 class="heading-style-h3 z-index-1 text-color-white">{{ block.settings.text_heading }}</h3>{% if block.settings.image_image %} {{ block.settings.image_image | image_url: width: 450 | image_tag: data-id: 'test', loading: variable, class: 'more_image' }} {% else %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'more_image' }} {% endif %} <div class="more_overlay"></div> </div> </a>
                    
                  
                </div> {% schema %} {
    "name": "Block",
    "settings": [
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Bestselling"
        },
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Block"
        }
    ]
} {% endschema %}