<div li-block="Product Name">
                    
                    
                    <h1 li-object:text="product.title" class="heading-style-h2">
{{ product.title }}
</h1>
                    
                  
                </div> {% schema %} {
    "name": "Product Name",
    "settings": [],
    "presets": [
        {
            "name": "Product Name"
        }
    ]
} {% endschema %}