<div li-block="Product Price">
                    
                    
                    <div class="product-header_price-wrapper">
                      <div li-js-price="product.selected_or_first_available_variant.price" class="text-size-large text-weight-bold" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.price, true, '{{ shop.money_with_currency_format }}')">$55</div>
                      <template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
        
                        <div li-js-price="product.selected_or_first_available_variant.compare_at_price" class="text-size-regular text-style-strikethrough text-align-right text-style-muted" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.compare_at_price, true, '{{ shop.money_with_currency_format }}')">$55</div>
                              </div>
    </template>
                      <div class="product-header_tag-list">
                        <template x-if="product.selected_or_first_available_variant.available != true">
            <div li-js-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
        Not in Stock        </div>
    </template>
                        <template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price" class="product-item_tag is-red">
        Sale        </div>
    </template>
                      </div>
                    </div>
                    
                    
                    <div class="text-size-small">inkl. VAT</div>
                    
                  
                </div> {% schema %} {
    "name": "Product Price",
    "settings": [],
    "presets": [
        {
            "name": "Product Price"
        }
    ]
} {% endschema %}