<div li-block="Vendor">
                    
                    
                    <div li-object="product.vendor" class="text-size-regular">{{ product.vendor }}</div>
                    
                  
                </div> {% schema %} {
    "name": "Vendor",
    "settings": [],
    "presets": [
        {
            "name": "Vendor"
        }
    ]
} {% endschema %}