<div class="padding-global padding-section-medium">
          <div class="container-large">
            <div class="article_wrapper">
              <div li-object="article.content" class="text-rich-text w-richtext">{{ article.content }}</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Article Content",
    "class": "section_article",
    "presets": [
        {
            "name": "Article Content",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "article"
        ]
    }
} {% endschema %}