<div li-object="section.settings.custom_liquid">{{ section.settings.custom_liquid }}</div> {% schema %} {
    "tag": "section",
    "name": "Custom Liquid",
    "class": "section_custom-liquid",
    "settings": [
        {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "Custom Liquid"
        }
    ],
    "presets": [
        {
            "name": "Custom Liquid",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}