<div class="padding-global padding-section-medium">
          <div class="container-large">
            <div class="max-width-large">
              <h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
            </div>
            <div class="spacer-large"></div>
            <div class="more_component">
              <div class="more_list-wrapper w-dyn-list">
                <div li-content-for-theme-blocks="" role="list" class="more_liste w-dyn-items">
{% content_for 'blocks' %}
</div>
                <div class="hide w-dyn-empty">
                  <div>No items found.</div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Featured collections",
    "class": "section_mehr",
    "blocks": [
        {
            "type": "block"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Short heading here"
        }
    ],
    "presets": [
        {
            "name": "Featured collections",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "block"
                }
            ]
        }
    ]
} {% endschema %}