<style>
  .more_component {
    flex-direction: column;
     align-items: center
  }
  .container-large {
    width: 100%;
     max-width: 85rem;
     margin-right: auto;
     margin-left: auto
  }
  .spacer-large {
    width: 100%;
     padding-top: 3rem
  }
  .heading-style-h2 {
    font-size: 2.5rem;
     line-height: 1;
     font-weight: 600
  }
  @media screen and (max-width: 767px) {
    .heading-style-h2 {
      font-size: 2rem
    }
  }
  @media screen and (max-width: 479px) {
    .heading-style-h2 {
      font-size: 2rem
    }
  }
  .max-width-large {
    width: 100%;
     max-width: 48rem
  }
  .more_liste {
    display: grid;
     grid-column-gap: 2rem;
     grid-row-gap: 2rem;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: auto
  }
  .more_liste.medium {
    grid-template-columns: 1fr 1fr
  }
  @media screen and (max-width: 767px) {
    .more_liste {
      grid-row-gap: 3rem;
       grid-template-columns: 1fr
    }
  }
  .hide {
    display: none;
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: 0%}
  .padding-global {
    padding-right: 2.5rem;
     padding-left: 2.5rem
  }
  @media screen and (max-width: 767px) {
    .padding-global {
      padding-right: 1.25rem;
       padding-left: 1.25rem
    }
  }
</style>
  <div class="padding-global padding-section-medium">
    <div class="container-large">
      <div class="max-width-large">
        <h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
      </div>
      <div class="spacer-large">
      </div>
      <div class="more_component">
        <div class="more_list-wrapper" data-dyn-type="wrapper">
          <div class="more_liste" li-content-for-theme-blocks="" data-dyn-type="list">
{% content_for 'blocks' %}
</div>
          <div class="hide" data-dyn-type="empty">
            <div>
                No items found.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {% schema %} {
    "tag": "section",
    "name": "Featured collections new",
    "class": "section_mehr",
    "blocks": [
        {
            "type": "block"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "\n            Short heading here\n        "
        }
    ],
    "presets": [
        {
            "name": "Featured collections new",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "block"
                }
            ]
        }
    ]
} {% endschema %}