<div class="padding-global padding-section-medium">
          <div class="container-large">
            <div class="text-align-center">
              <h1 class="heading-style-h2"> Gift-Card</h1>
            </div>
            <div class="gift_wrapper">
              <div data-w-id="adcb4a87-df0b-0734-55b9-7d8ddfb6ccc9" class="gift_card"><img src="{{ shop.brand.logo | image_url: width: 200 }}" loading="lazy" li-object:src="shop.brand.logo | image_url: width: 200" alt="" class="gift_card-logo">
                <div class="gift_card-text">
                  <p li-object="gift_card.code" class="text-size-regular">{{ gift_card.code }}</p>
                  <p li-object="gift_card.balance | money" class="heading-style-h3">{{ gift_card.balance | money }}</p>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Gift-Card",
    "class": "section_default",
    "presets": [
        {
            "name": "Gift-Card",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "gift_card"
        ]
    }
} {% endschema %}