<div class="padding-global padding-section-medium">
          <div class="container-small">
            <div class="text-align-center">
              <div class="max-width-xlarge align-center">
                <h1 class="heading-style-h1">
{{ section.settings.text_heading }}
</h1>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "header",
    "name": "List-Collection-Hero",
    "class": "section_small-hero",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "All Collections"
        }
    ],
    "presets": [
        {
            "name": "List-Collection-Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}