<div class="padding-global">
    <div class="container-large">
      <div class="rolex_header-wrap">
        <a class="rolex_header_logo">
          <img width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/689c58e0dedcc06aa56ee217/689d81ea753c260ebf0ac77a_Rolex-retailer-plaque-250x125_en.jpg" loading="lazy">
        </a>
        <div class="rolex_header-content">
          <a class="rolex_header_link">
            <div>
                Discover rolex
            </div>
          </a>
          <a class="rolex_header_link">
            <div>
                Rolex watches
            </div>
          </a>
          <a class="rolex_header_link">
            <div>
                New Watches 2025
            </div>
          </a>
          <a class="rolex_header_link">
            <div>
                Watchmaking
            </div>
          </a>
          <a class="rolex_header_link">
            <div>
                Servicing
            </div>
          </a>
          <a class="rolex_header_link">
            <div>
                World of Rolex
            </div>
          </a>
          <a class="rolex_header_link">
            <div>
                Contact us
            </div>
          </a>
        </div>
      </div>
    </div>
  </div> {% schema %} {
    "tag": "div",
    "name": "Rolex Header",
    "class": "section-rolex_header",
    "presets": [
        {
            "name": "Rolex Header",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}