<style>
  .section-rolex_header {
    background-image: linear-gradient(90deg, #0b3e27, #197149)
  }
  .container-large {
    width: 100%;
     max-width: 85rem;
     margin-right: auto;
     margin-left: auto
  }
  .more_liste {
    display: grid;
     grid-column-gap: 2rem;
     grid-row-gap: 2rem;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: auto
  }
  .more_liste.medium {
    grid-template-columns: 1fr 1fr
  }
  @media screen and (max-width: 767px) {
    .more_liste {
      grid-row-gap: 3rem;
       grid-template-columns: 1fr
    }
  }
  .hide {
    display: none;
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: 0%}
  .rolex_header_logo {
    width: 7rem
  }
  .rolex_header-wrap {
    display: flex;
     min-height: 6rem;
     justify-content: space-between;
     align-items: center
  }
  .padding-global {
    padding-right: 2.5rem;
     padding-left: 2.5rem
  }
  @media screen and (max-width: 767px) {
    .padding-global {
      padding-right: 1.25rem;
       padding-left: 1.25rem
    }
  }
</style>
  <div class="padding-global">
    <div class="container-large">
      <div class="rolex_header-wrap">
        <a class="rolex_header_logo">
          <img width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/689c58e0dedcc06aa56ee217/689d81ea753c260ebf0ac77a_Rolex-retailer-plaque-250x125_en.jpg" loading="lazy">
        </a>
        <div class="more_list-wrapper" data-dyn-type="wrapper">
          <div class="more_liste" li-content-for-theme-blocks="" data-dyn-type="list">
{% content_for 'blocks' %}
</div>
          <div class="hide" data-dyn-type="empty">
            <div>
                No items found.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {% schema %} {
    "tag": "section",
    "name": "Rolex Header",
    "class": "section-rolex_header",
    "blocks": [
        {
            "type": "block"
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "Rolex Header",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "block"
                }
            ]
        }
    ]
} {% endschema %}